<!DOCTYPE html>
<html lang="fr">
<head>
	<title><%= @title %></title>
	<link rel="stylesheet" type="text/css" href="style.css">	
</head>
<body>
	<header>
		<p>L'ORGANISATION FACILITEE:</p>
		<p>TO DO List</p>
	</header>
	<%= yield %>
</body>
</html>